%header.signup-header
  .signup-header__containar
    %h1.signup-header__containar__title
      .signup-header__containar__title__img
        = image_tag "/assets/SVG/fmarket_logo_red.svg", alt: "Mercari",class: "sign-up_img"